.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: hsl(240, 78%, 98%);
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

@media (max-width: 900px) {
    .inside-body {
        height: 1500px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 8px 8px 15px rgb(0 0 0 / 0.2);
        border-radius: 25px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.inside-body {
    /* height: 700px; */
    width: 80%;
    /* background-image: ; */
    background: url(images/bg-bottom.svg) no-repeat left bottom, url(images/bg-top.svg) no-repeat right top;
    box-shadow: 8px 8px 15px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    /* background-image: url(); */
}

.center {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 4%;
    margin: 6px;
}

.line {
    color: hsl(236, 72%, 79%);
}

.main-card {
    height: 350px;
    width: 150px;
    background-image: linear-gradient(
        to bottom right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    border: solid white;
    border-radius: 15px;
    color: white;
}

.side-card {
    height: 330px;
    width: 150px;
    background-color: hsl(240, 78%, 98%);
    border: solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 0.2);
}

.main-button {
    width: 150px;
    height: 35px;
    background-color: hsl(240, 78%, 98%);
    border-radius: 5px;
}

.side-button {
    width: 150px;
    height: 35px;
    background-image: linear-gradient(
        to right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    border-radius: 5px;
}

.layer {
    display: flex;
    justify-content: center;
    font: Montserrat;
}

.text-spacing {
    word-spacing: 100px;
    font-size: 23px;
    margin-left: 1%;
    margin-right: 1%;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        to bottom right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
        to bottom right,
        hsl(236, 72%, 79%),
        hsl(237, 63%, 64%)
    );
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
